:root{  /*Contributor: Yuying Jin */
    --darkgrey: #201c24;
    --purple: #6931f9;
    --containerSize: 950px;
}

#siteTitle{    /*Contributor: Jiayuan Wen */
    color: white;
    padding-top: 10px;
    font-family: 'Arial Black';
    font-weight:lighter;
    text-align: center;
    font-size: 70px;
    line-height: 1.1;
    margin-bottom:10px;
    height: 150px;
    width: 950px;
}
.siteDescription {  /*Contributor: Jiayuan Wen */
    color: white;
    font-family: 'Arial';
    font-size:18px;
    text-align: center;
    line-height: 1.4;
    width: 850px;
    height: 100px;
}
#splitLineTop{  /*Contributor: Jiayuan Wen */
    background: #171717;
    height:40px;
    width:calc(var(--containerSize));
    stroke:var(--purple);
    stroke-width: 8;
}
#splitLineBottom{   /*Contributor: Jiayuan Wen */
    height:50px;
    width:calc(var(--containerSize));
    stroke:var(--purple);
    stroke-width: 8;
}

.homeContainer{ /*Contributor: Jiayuan Wen */
    height: calc(100vh + 100px);
    width: var(--containerSize);
    margin:auto;
    top:-10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--darkgrey);
    overflow: hidden;
    padding-top:30px;
    padding-bottom:50px;
    margin-top:-10px;
    margin-bottom:-10px;
}

.buttonWrapper{ /*Contributor: Jiayuan Wen */
    width:950px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.buttons{   /*Contributor: Jiayuan Wen */
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--purple);
    margin: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.layer {    /*Contributor: Jiayuan Wen, Yuying Jin */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width:10%;
    transition: all 0.3s ease;
}
.layer p {  /*Contributor: Jiayuan Wen, Yuying Jin */
    color:white;
    margin:-100px;
    font-family:arial, helvetica, sans-serif;
    font-size: 30px;
    transition: all 0.3s ease;
}

img{    /*Contributor: Jiayuan Wen, Yuying Jin */
    height:320px;
    filter: brightness(0.5);
    transition: all 0.3s ease;
}

.buttons:hover {    /*Contributor: Jiayuan Wen, Yuying Jin */
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.buttons:hover .layer{  /*Contributor: Jiayuan Wen, Yuying Jin */
    opacity: 0.7;
    width: 95%;
    transition: all 0.3s ease;
}
.buttons:hover p{   /*Contributor: Jiayuan Wen, Yuying Jin */
    opacity: 1;
    transform: scale(1.3);
    transition: all 0.3s ease;
}
.buttons:hover img{ /*Contributor: Jiayuan Wen, Yuying Jin */
    /*height:360px;*/
    filter: brightness(0.3);
    transition: all 0.3s ease;
}

.bg-video{  /*Contributor: Yuying Jin */
    object-fit:cover;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    z-index: -1;
    left:0;
    right:0;
}

#overlay-left { /*Contributor: Jiayuan Wen */
    object-fit: fill;
    width:50vw;
    height:100vh;
    position:fixed;
    top:0;
    z-index: -1;
    left:0;
    right:0;
}
#overlay-right {    /*Contributor: Jiayuan Wen */
    object-fit: fill;
    width:50vw;
    height:100vh;
    position:fixed;
    top:0;
    z-index: -1;
    left:998px;
    right:0;
}