:root{
    --darkgrey: #201c24;
    --purple: #6931f9;
    --containerSize: 950px;
}

body{
    background-color:white;

}
p{
    color:black;
    font-family:arial, helvetica, sans-serif;
    font-size:20px;
}
h1{
    color:white;
    margin-left: 0px;
    margin-top: -10px;
    font-family: 'Arial Black';
    font-weight:lighter;
    font-size: 70px;
    margin-bottom:10px;
    height: 400px;
}
#titleLineTop{
    background: #262626;
    height:50px;
    width:calc(var(--containerSize));
    stroke:var(--purple);
    stroke-width: 8;
}
#titleLineBottom{
    height:50px;
    width:calc(var(--containerSize));
    stroke:var(--purple);
    stroke-width: 8;
}

.galleryContainer{
    height: auto;
    width:var(--containerSize);
    margin:auto;
    top:-10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--darkgrey);
    overflow: hidden;
    padding-top:30px;
    padding-bottom:50px;
    margin-top:-10px;
    margin-bottom:-10px;
}

.galleryWrapper{
    width:950px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.gallery{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--purple);
    margin: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.layer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width:10%;
    transition: all 0.3s ease;
}
.layer p {
    color:white;
    margin:-100px;
    font-size: 30px;
    transition: all 0.3s ease;
}
img{
    height:320px;
    filter: brightness(0.5);
    /*    filter: brightness(80%);*/
    transition: all 0.3s ease;
}
.gallery:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.gallery:hover .layer{
    opacity: 0.7;
    width: 95%;
    transition: all 0.3s ease;
}
.gallery:hover p{
    opacity: 1;
    transform: scale(1.3);
    transition: all 0.3s ease;
}
.gallery:hover img{
    height:360px;
    filter: brightness(0.3);
    transition: all 0.3s ease;
}

.bg-video{
    object-fit:cover;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    filter:brightness(0.7);
    z-index: -1;
    left:0;
    right:0;
}