<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4 text-black" style='opacity:1; font-weight: bold'>WELDON'S PROJECTS</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="Home" class="nav-link text-black">
                <svg class="bi me-2 " width="16" height="16"><use xlink:href="#home"></use></svg>
                Home
            </a>
        </li>
        <li>
            <a href="About_Us" class="nav-link text-black">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                About_Us
            </a>
        </li>
        <li>
            <a href="Gallery" class="nav-link text-black">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Gallery
            </a>
        </li>

    </ul>
    <hr>
</div>
</div>