:root{
    --darkgrey: #201c24;
    --purple: #6931f9;
    --containerSize: 950px;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color:white;

}
p{
    color:black;
    font-family:arial, helvetica, sans-serif;
    font-size:20px;
}
h1{
    color:white;
    margin-left:-550px;
    font-family: Arial;
    font-weight:lighter;
    font-size: 30px;
    margin-bottom:10px;
}
#titleLine{
    height:15px;
    width:calc(-50px + var(--containerSize));
    stroke:var(--purple);
    stroke-width: 8;
}

.galleryContainer{
    height: auto;
    width:var(--containerSize);
    top:-10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--darkgrey);
    overflow: hidden;
    padding-top:30px;
    padding-bottom:50px;
    margin: -10px auto;
}

.galleryWrapper{
    width:700px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.gallery{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #777;
    margin:10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.layer {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width:10%;
    background: var(--darkgrey);
    transition: all 0.3s ease-in;
}
.layer p {
    color:white;
    margin:-100px;
    opacity: 0;
    transition: all 0.3s ease;
    transform: scale(0.1);
}
.gallery img{
    height:210px;
    /*    filter: brightness(80%);*/
    transition: all 0.3s ease;
}
.gallery:hover .layer{
    opacity: 0.7;
    width: 95%;
    transition: all 0.3s ease;
}
.gallery:hover p{
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease;
}
/*.gallery:hover img{
    height:210px;
    filter: brightness(1);
    transition: all 0.3s ease;
}*/
canvas{
    /*background: #111111;*/
    background-image: radial-gradient(circle,var(--purple) -400%, #111111 100%);
    object-fit:cover;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    /*filter:brightness(0.7);*/
    z-index: -1;
    left:0;
    right:0;
}
#goTop{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    font-size: 18px;
    background-color: #343434;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    opacity: 0.7;
}

#goTop:hover{
    opacity:1;
}