<link type="text/css" href="aboutus.css" rel="stylesheet" />
<video class="bg-video" src="../../backgroundVideos/project_overview.webm" autoplay loop playsinline muted></video>

<div class="container">
    <h1> About us</h1>
    <svg id="titleLine"><line  x1="0" y1="0" x2="1000" y2="0"/></svg>

    <div class="description">
        <body>
        text: some descriptions
        </body>
    </div>


    <div class="Yaoqi">
        <p>Yaoqi Dong</p>

        <button class="modal-button" href="#myModal1">Information</button>
        <div id="myModal1" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">x</span>
                    <h2>Yaoqi Dong's contact info</h2>
                </div>
                <div class="modal-body">
                    <p>PSU id: yxd5177@psu.edu</p>
                    <p>Some other text...</p>
                </div>

            </div>

        </div>

    </div>

    <div class="Jiayuan">
        <p>Jiayuan Wen</p>

        <button class="modal-button" href="#myModal2">Information</button>
        <div id="myModal2" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">x</span>
                    <h2>Jiayuan Wen's information</h2>
                </div>
                <div class="modal-body">
                    <p>Some text in the Modal Body(random mail)</p>
                    <p>Some other text...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="Yuying">
        <p>Yuying Jin</p>

        <button class="modal-button" href="#myModal3">Information</button>
        <div id="myModal3" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">x</span>
                    <h2>Yuying Jin's information</h2>
                </div>
                <div class="modal-body">
                    <p>Some text in the Modal Body(random mail)</p>
                    <p>Some other text...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="Tommy">
        <p>Tommy Fornear</p>


        <button class="modal-button" href="#myModal4">Information</button>
        <div id="myModal4" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">x</span>
                    <h2>Tommy Fornear's information</h2>
                </div>
                <div class="modal-body">
                    <p>Some text in the Modal Body(random mail)</p>
                    <p>Some other text...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/aboutUs_infoButton.js" type="text/javascript"></script>