<%- include('./commonViews/header.ejs'); %>

<link type="text/css" href="../css/aboutus.css" rel="stylesheet" />
<link type="text/css" href="../css/gallery.css" rel="stylesheet" />
<video class="bg-video" src="../../backgroundVideos/project_overview.webm" autoplay loop playsinline muted></video>

<canvas id="canvas"></canvas>
<div id="container_aboutus">
    <h1 id="aboutus_title"> About us</h1>
    <svg id="titleLine"><line  x1="0" y1="0" x2="1000" y2="0"/></svg>

    <div class="description">
        <body>
            <p class="Center">
                &emsp;&emsp;We are a group of 4 students that go to Penn State Behrend University. We came up with the idea for Weldon's Projects for a computer science class project that we were taking at the time.
                Using our knowledge from this computer science course, we were able to create and decorate the various pages that you see.
                Weldon's Projects showcases projects that we have made for video games like skins, levels, etc.
                All games that we have resources on or have are kept in our Gallery under its appropriate game name. For more information about a specific game, a user can click on
                an image in the gallery. This will bring up a page about that item that will describe what the item is and what projects are available for those games.
            </p>
            <p class="Center">
                &emsp;&emsp;
            </p>
            <p class="Center">
                &emsp;&emsp;To contact us, the creators of this webpage, click the buttons below our names.
            </p>
        </body>
    </div>


    <div class="Yaoqi">
        <p>Yaoqi Dong</p>

        <button class="modal-button" href="#myModal1">Information</button>
        <div id="myModal1" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="contact-name">Yaoqi Dong's contact info</h2>
                    <span class="close">x</span>
                </div>
                <div class="modal-body">
                    Email:<a href="mailto:yxd5177@psu.edu"> yxd5177@psu.edu</a>
                    <p>Designer</p>
                </div>

            </div>

        </div>

    </div>

    <div class="Jiayuan">
        <p>Jiayuan Wen</p>

        <button class="modal-button" href="#myModal2">Information</button>
        <div id="myModal2" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="contact-name">Jiayuan Wen's information</h2>
                    <span class="close">x</span>
                </div>
                <div class="modal-body">
                    Email:<a href="mailto:jbw5872@psu.edu"> jbw5872@psu.edu</a>
                    <p>Developer</p>
                </div>
            </div>
        </div>
    </div>

    <div class="Yuying">
        <p>Yuying Jin</p>

        <button class="modal-button" href="#myModal3">Information</button>
        <div id="myModal3" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="contact-name">Yuying Jin's information</h2>
                    <span class="close">x</span>
                </div>
                <div class="modal-body">
                    Email:<a href="mailto:yxj5181@psu.edu"> yxj5181@psu.edu</a>
                    <p>Designer</p>
                </div>
            </div>
        </div>
    </div>

    <div class="Tommy">
        <p>Tommy Fornear</p>


        <button class="modal-button" href="#myModal4">Information</button>
        <div id="myModal4" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="contact-name">Tommy Fornear's information</h2>
                    <span class="close">x</span>
                </div>
                <div class="modal-body">
                    Email:<a href="mailto:tjf5611@psu.edu"> tjf5611@psu.edu</a>
                    <p>Designer</p>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#top">
    <svg id="goTop">
        <g transform="translate(30,15)" stroke-width="4" stroke="white" stroke-linecap="round">
            <line x1="0" y1="30" x2="0" y2="0"/>
            <line x1="0" x1="0" x2="-15" y2="15"/>
            <line x1="0" x1="0" x2="15" y2="15"/>
        </g>
    </svg>
</a>

<%- include('./commonViews/footer.ejs'); %>

<script src="../js/aboutUs_infoButton.js" type="text/javascript"></script>
<script src="../js/bg.js" type="text/javascript"></script>