<%- include('./commonViews/header.ejs'); %>

<link type="text/css" href="../css/gallery.css" rel="stylesheet" />


<canvas id="canvas"></canvas>
<div class="galleryContainer">
    <h1 id="top"><%= Title%></h1>

    <svg id="titleLine"><line  x1="0" y1="0" x2="900" y2="0"/></svg>

    <div class="galleryWrapper">

        <p>test information</p>

    </div>



</div>
<a href="#top">
    <svg id="goTop">
        <g transform="translate(30,15)" stroke-width="4" stroke="white" stroke-linecap="round">
            <line x1="0" y1="30" x2="0" y2="0"/>
            <line x1="0" x1="0" x2="-15" y2="15"/>
            <line x1="0" x1="0" x2="15" y2="15"/>
        </g>
    </svg>
</a>
<%- include('./commonViews/footer.ejs'); %>

<script src="../js/bg.js" type="text/javascript"></script>

