<video class="bg-video left" src="https://css-tricks-post-videos.s3.us-east-1.amazonaws.com/708209935.mp4" autoplay loop playsinline muted></video>
<video class="bg-video right" src="https://css-tricks-post-videos.s3.us-east-1.amazonaws.com/708209935.mp4" autoplay loop playsinline muted></video>

<div class="galleryContainer">
    <h1>Gallery</h1>
    <svg id="titleLine"><line  x1="0" y1="0" x2="1000" y2="0"/></svg>
    <div class="galleryWrapper">
        <a class="gallery">
            <img src="https://www.cameraegg.org/wp-content/uploads/2015/06/canon-powershot-g3-x-sample-images-1.jpg" alt=""/>
            <div class="layer">
                <p>title</p>
            </div>
        </a>
        <a class="gallery">
            <img src="https://asia.olympus-imaging.com/content/000107506.jpg" alt=""/>
            <div class="layer">
                <p>title</p>
            </div>
        </a>
        <a class="gallery">
            <img src="https://imgsv.imaging.nikon.com/lineup/lens/f-mount/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" alt=""/>
            <div class="layer">
                <p>This is a long title.</p>
            </div>
        </a>
        <a class="gallery">
            <img src="" alt=""/>
            <div class="layer">
                <p>This title is much longer. </p>
            </div>
        </a>

        <a class="gallery">
            <img src="" alt=""/>
            <div class="layer">
                <p>title</p>
            </div>
        </a>
        <a class="gallery">
            <img src="" alt=""/>
            <div class="layer">
                <p>title</p>
            </div>
        </a>
        <a class="gallery">
            <img src="" alt=""/>
            <div class="layer">
                <p>title</p>
            </div>
        </a>
        <a class="gallery">
            <img src="" alt=""/>
            <div class="layer">
                <p>title</p>
            </div>
        </a>
        <a class="gallery">
            <img src="" alt=""/>
            <div class="layer">
                <p>title</p>
            </div>
        </a>
        <a class="gallery">
            <img src="" alt=""/>
            <div class="layer">
                <p>title</p>
            </div>
        </a>
        <a class="gallery">
            <img src="" alt=""/>
            <div class="layer">
                <p>title</p>
            </div>
        </a>


    </div>
</div>