<%- include('./commonViews/header.ejs'); %>

<video class="bg-video" src="../backgroundVideos/project_overview.webm" autoplay loop playsinline muted></video>    <!--Contributor: Jiayuan Wen-->

<!--
<img id="overlay-left" src="../images/homepage/backgroundOverlay.png" alt="background overlay grey">
<img id="overlay-right" src="../images/homepage/backgroundOverlay.png" alt="background overlay grey">
-->

<link type="text/css" href="../css/homepage.css" rel="stylesheet" />    <!--Contributor: Jiayuan Wen-->

<div class="homeContainer">     <!--Contributor: Jiayuan Wen-->
    <h1 id="siteTitle">Weldon's <br>Projects</h1>   <!--Contributor: Jiayuan Wen-->

    <div class="siteDescription">   <!--Contributor: Jiayuan Wen-->
        <p>&emsp; Welcome to Weldon's Projects! This is where we showcase projects we made for various video games (such as skins, game modes, and levels).</p>
    </div>

    <svg id="splitLineTop"><line  x1="0" y1="0" x2="1000" y2="0"/></svg>    <!--Contributor: Jiayuan Wen-->
    <svg id="splitLineBottom"><line  x1="0" y1="0" x2="1000" y2="0"/></svg> <!--Contributor: Jiayuan Wen-->

    <div class="buttonWrapper"> <!--Contributor: Jiayuan Wen-->
        <a class="buttons" href="/Gallery">
            <img src="../images/homepage/galleryButton.PNG" alt=""/>
            <div class="layer">
                <p>Gallery</p>
            </div>
        </a>
        <a class="buttons" href="/AboutUs">
            <img src="../images/homepage/aboutUsButton.PNG" alt=""/>
            <div class="layer">
                <p>About Us</p>
            </div>
        </a>
    </div>
</div>

<%- include('./commonViews/footer.ejs'); %>