<%- include('./commonViews/header.ejs'); %>

<video class="bg-video" src="../backgroundVideos/project_overview.webm" autoplay loop playsinline muted></video>

<!--
<img id="overlay-left" src="../images/homepage/backgroundOverlay.png" alt="background overlay grey">
<img id="overlay-right" src="../images/homepage/backgroundOverlay.png" alt="background overlay grey">
-->

<link type="text/css" href="../css/homepage.css" rel="stylesheet" />

<div class="homeContainer">
    <h1 id="siteTitle">Weldon's <br>Projects</h1>

    <!-- <svg id="titleLine"><line  x1="0" y1="0" x2="1000" y2="0"/></svg> -->

    <div class="siteDescription">
        <p>&emsp; Welcome to Weldon's Projects! This is where we showcase projects we made for various video games (such as skins, game modes, and levels).</p>
    </div>

    <svg id="splitLineTop"><line  x1="0" y1="0" x2="1000" y2="0"/></svg>
    <svg id="splitLineBottom"><line  x1="0" y1="0" x2="1000" y2="0"/></svg>

    <div class="buttonWrapper">
        <a class="buttons" href="/Gallery">
            <img src="../images/homepage/galleryButton.PNG" alt=""/>
            <div class="layer">
                <p>Gallery</p>
            </div>
        </a>
        <a class="buttons" href="/AboutUs">
            <img src="../images/homepage/aboutUsButton.PNG" alt=""/>
            <div class="layer">
                <p>About Us</p>
            </div>
        </a>
    </div>
</div>

<%- include('./commonViews/footer.ejs'); %>