<video class="bg-video" src="../backgroundVideos/project_overview.webm" autoplay loop playsinline muted></video>
<link type="text/css" href="../css/homepage.css" rel="stylesheet" />

<img id="overlay-left" src="../images/homepage/backgroundOverlay.png" alt="background overlay grey">
<img id="overlay-right" src="../images/homepage/backgroundOverlay.png" alt="background overlay grey">

<div class="galleryContainer">
    <h1>Weldon's <br>Projects</h1>

    <svg id="titleLineTop"><line  x1="0" y1="0" x2="1000" y2="0"/></svg>
    <svg id="titleLineBottom"><line  x1="0" y1="0" x2="1000" y2="0"/></svg>

    <div class="galleryWrapper">
        <a class="gallery">
            <img src="../images/homepage/galleryButton.PNG" alt=""/>
            <div class="layer">
                <p>Gallery</p>
            </div>
        </a>
        <a class="gallery">
            <img src="../images/homepage/aboutUsButton.PNG" alt=""/>
            <div class="layer">
                <p>About Us</p>
            </div>
        </a>
    </div>
</div>