:root{
    --darkgrey: #201c24;
    --purple: #6931f9;
    --containerSize: 950px;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color:var(--darkgrey);
}
p{
    color:black;
    font-family:arial, helvetica, sans-serif;
    font-size:20px;
}
#errorCode{
    color: white;
    padding-top: 40px;
    font-family: 'Arial';
    font-weight:lighter;
    text-align: center;
    font-size: 50px;
    line-height: 1.1;
    margin-bottom:10px;
    height: 150px;
    width: 950px;
}
#errorMessage_general {
    color: white;
    font-family: 'Arial';
    font-size:18px;
    text-align: center;
    line-height: 1.4;
}
#errorMessage_specific {
    color: white;
    font-family: 'Arial';
    font-size:18px;
    text-align: center;
    line-height: 1.4;
}
#container{
    height: 100vh;
    width: var(--containerSize);
    margin: auto;
    top:-10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--darkgrey);
    overflow: hidden;
    padding-top:30px;
    padding-bottom:50px;
    margin-top:-10px;
    margin-bottom:-10px;
}
canvas{
    /*background: #111111;*/
    background-image: radial-gradient(circle,var(--purple) -400%, #111111 100%);
    object-fit:cover;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    /*filter:brightness(0.7);*/
    z-index: -1;
    left:0;
    right:0;
}
#goTop{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    font-size: 18px;
    background-color: #343434;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    opacity: 0.7;
}
#goTop:hover{
    opacity:1;
}