<div class="bootstrap-iso">
<footer class="bg-purple text-purple text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="siteTitle_footer mb-1">Weldon's Projects</h5>
                <br>
                <p class="footerDescription">
                    We showcase projects we made for various video games (such as skins, game modes, and levels).
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="Links text-uppercase mb-0">Links</h5>
                <br>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/" class="text-purple">Home</a>
                    </li>
                    <li>
                        <a href="Gallery" class="text-purple">Gallery</a>
                    </li>
                    <li>
                        <a href="AboutUs" class="text-purple">About</a>
                    </li>

                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="Contact_Us text-uppercase mb-0">Contact Us</h5>
                <br>
                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:jbw5872@psu.edu" class="text-purple">Jiayuan Wen - jbw5872@psu.edu</a>
                    </li>
                    <li>
                        <a href="mailto:yxd5177@psu.edu" class="text-purple">Yaoqi Dong - yxd5177@psu.edu</a>
                    </li>
                    <li>
                        <a href="mailto:yxj5181@psu.edu" class="text-purple">Yuying Jin - yxj5181@psu.edu</a>
                    </li>
                    <li>
                        <a href="mailto:tjf5611@psu.edu" class="text-purple">Tommy Fornear - tjf5611@psu.edu</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center copyright text-white">
        <p>© 2022 Copyright:
            <a class="text-white" href="https://github.com/Yuying-Jin/CS421proj/tree/project">Underwork</a>
        </p>
    </div>
    <!-- Copyright -->
</footer>
</div>
</body>

</html>
