<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title> <%= Title%> </title>

  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/commonViews.css">
</head>
<body>
<div class="bootstrap-iso">
<nav class="navbar navbar-expand-lg  text-purple">
  <div class="container">
    <a class="navbar-brand text-purple" href="/">Weldon's Projects</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AboutUs">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
<!-- <svg id="titleLine"><line  x1="0" y1="0" x2="3840" y2="0"/></svg> -->