<!DOCTYPE html>
<html>
<head>
  <title> <%= Title%> </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../css/commonViews.css">
</head>
<body>
<nav class="navbar navbar-expand-lg  text-purple">
  <div class="container">
    <a class="navbar-brand text-purple" href="#">Weldon's Projects</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="About_Us">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Gallery">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>